<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241632718216-avaf2f3ch5nnrq6ubsvr84clgmcfk01b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241632718216-avaf2f3ch5nnrq6ubsvr84clgmcfk01b</string>
	<key>API_KEY</key>
	<string>AIzaSyAkb2J9_A0v2ujeNkvn8K8byaBeoLNhMzw</string>
	<key>GCM_SENDER_ID</key>
	<string>241632718216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hispeak.app</string>
	<key>PROJECT_ID</key>
	<string>god-speak-ai</string>
	<key>STORAGE_BUCKET</key>
	<string>god-speak-ai.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241632718216:ios:e7f124be9f8f3a2f635e3d</string>
	<key>DATABASE_URL</key>
	<string>https://god-speak-ai-default-rtdb.firebaseio.com</string>
</dict>
</plist>